@page

@model ContentManagementSystem.Models.EditModel

<br />
<h2 class="text-info">Edit Book</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <input type="hidden" asp-for="Lamp.Id" />
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Lamp.Model"></label>
            </div>
            <div class="col-6">
                <input asp-for="Lamp.Model" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Lamp.Watt"></label>
            </div>
            <div class="col-6">
                <input asp-for="Lamp.Watt" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Lamp.Kleur"></label>
            </div>
            <div class="col-6">
                <input asp-for="Lamp.Kleur" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Lamp.Aantal"></label>
            </div>
            <div class="col-6">
                <input asp-for="Lamp.Aantal" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="submit" value="Update" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Ind" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>  