@page

@model ContentManagementSystem.Models.IndModel
<br />
<div class="container row p-0 m-0">
    <div class="col-10">
        <h2 class="text-info">Inventaris</h2>
    </div>
    <div class="col-2">
        <a class="btn btn-info form-control text-white">Add new Lamp</a>
    </div>
    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.getLampen.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            Model
                        </th>
                        <th>
                            Watt
                        </th>
                        <th>
                            Kleur
                        </th>
                        <th>
                            Aantal
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach (var item in Model.getLampen)
                    {
                <tr>
                    <td>
                        @item.Model
                    </td>
                    <td>
                        @item.Watt
                    </td>
                    <td>
                        @item.Kleur
                    </td>
                    <td>
                        @item.Aantal
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm">Delete</button>
                        <a class="btn btn-success btn-sm text-white">Edit</a>
                    </td>
                </tr>

                    }
                </table>
            }
            else
            {
                <p>Inventaris is Leeg.</p>
            }
        </form>
    </div>
</div>  