@model CMS_Individueel_Project.Data.Models.Verkoop

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lamp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h>Kies de Lamp</h>
                <select class="form-control" name="LampId" required>
                    <option value="null" disabled selected>Select lamp</option>
                    @foreach (var item in ViewBag.lamps)
                    {
                        <option value="@item.Id">@item.Model</option>
                    }
                </select>
                <h></h>
                <h>Kies de Koper</h>
                <select class="form-control" name="KoperId" required>
                    <option value="null" disabled selected>Select Koper</option>
                    @foreach (var item in ViewBag.Kopers)
                    {
                        <option value="@item.Id">@item.Naam</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Aantal" class="control-label"></label>
                <input asp-for="Aantal" class="form-control" />
                <span asp-validation-for="Aantal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
