@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Fontys Rachelsmolen<br />
    Budel, 5612 MA <br />
    <abbr title="Phone">P:</abbr>
    06-21143618
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:459530@student.fontys.nl">459530@student.fontys.nl</a><br />
</address>